* {
  margin :0;
  padding:0;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 100px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paperStyle {
  padding:20;
  height:'70vh';
  width:380;
   margin:"20px auto"}